
.container_skills {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}
.skills-page {
  .text-zone {
    position: absolute;
    left: 13%;
    top: 5%;
    transform: translateY(-50%);
    // width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 20%;

    h1 {
      font-size: 63px;
      font-family: 'Coolvetica';
      color: #07bcfb;
      font-weight: 400;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: #fd5c5c;
        font-size: 20px;
        position: absolute;
        margin-top: 20px;
        left: -35px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        color: #fd5c5c;
        font-size: 20px;
        line-height: 18px;
        position: absolute;
        left: 97%;
        top: 100px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }

  }
  .app__skils{
    flex:1;
    width: 100%;
    flex-direction: column;
  
  }

  .app__skils-container {
    width: 80%;
    margin-top: 3rem;

    display: flex;
    flex-direction: row;

    @media screen and (max-width: 900px) {
      width: 100%;
      flex-direction: column;
    }
  }

  .app__skills-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5rem;
    

    @media screen and (max-width: 900px) {
      margin-left: 0;
      justify-content: center;
      align-items: center;
    }
  }
  .app__skills-items {
    flex-direction: column;
    text-align: center;
    
  
    margin-top: 120px;
    margin-left: 3rem;

    transition: all 0.3s ease-in-out;

    div {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 50%;
        height: 50%;
      }
      &:hover {
        box-shadow: 0 0 25px #fafafa;
      }

      @media screen and (min-width: 2000px) {
        width: 150px;
        height: 150px;
      }
      @media screen and (min-width: 2000px) {
        width: 70px;
        height: 70px;
      }


    }

    p{
      font-family: 'Coolvetica';
      color: #07bcfb;
      font-weight: 500;
      margin-top: 1rem;

    }

  }
  @media screen and (min-width: 2000px) {
    margin: 1rem 2rem;
    p{
      margin-top: 1rem;
    }
  }
 
}
